.ant-card-body {
  display: flex;
  flex-direction: row;
}

.movie-poster {
  height: 280px;
  margin-right: 10px;
}

.card-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}