.ant-card-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.movie-poster {
  height: 280px;
  margin-right: 10px;
}

.card-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.movie-card-content {
  display: flex;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 10px;
  position: relative;
  font-size: 12px;
}

.movie-title {
  margin: 0;
  width: 80%;
  font-size: 20px;
}

.movie-rating {
  margin-top: auto;
}

.movie-vote {
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-vote.red {
  border-color: #e90000;
}

.movie-vote.orange {
  border-color: #e97e00;
}

.movie-vote.yellow {
  border-color: #e9d100;
}

.movie-vote.green {
  border-color: #66e900;
}

.movie-genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;

  list-style: none;
  padding-inline-start: 0;
}

.movie-genre {
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
  padding: 0 3px;
  border-radius: 5px;
  text-align: center;
}
.movie-release-date {
  color: #827e7e;
}
